:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --main-color: #ffffff;
  --border-main-color: #ececec;
  --bgc-second-color: #2f303a;
  --color-section: #f5f4fa;
  --logo-color: #000000;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: var(--main-text-color);
  background-color: var(--main-color);
}
.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.container {
  width: 1230px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------- Header------------------------- */

.header {
  border-bottom: 1px solid var(--border-main-color);
}

.header-navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Logo+Navigation */

.header-logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
}
.logo {
  color: var(--logo-color);
}
.header-list {
  display: flex;
}
.header-list .header-link {
  color: var(--secondary-text-color);
}
.header-list.header-link:focus,
.header-link:hover {
  color: var(--accent-text-color);
}
.header-navigation .header-link.current {
  color: var(--accent-text-color);
}

/*-------------------------- Contacts -----------------------*/
.header-contacts {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts .contacts-item {
  color: var(--main-text-color);
}
.header-contacts.contacts-item:focus,
.contacts-item:hover {
  color: var(--accent-text-color);
}

/*------------------------- Hero--------------------- */

.main-hero {
  background-color: var(--bgc-second-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  max-width: 650px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
}

/* Button */

.button {
  font-family: inherit;
  color: var(--secondary-text-color);
  background-color: var(--main-color);
  font-size: 16px;
  padding: 10px 32px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button.hero-button {
  color: var(--main-color);
  background-color: var(--accent-text-color);
}
.button:focus,
.button:hover {
  background-color: #188ce8;
}

/* ---------------------------Main section---------------------------------- */
.section {
  padding: 94px;
}
.main-section {
  outline: solid 1px tomato;
}
.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
}

.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);

  outline: solid 1px tomato;
}

.section-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  outline: solid 1px tomato;
}

.section .title-section {
  outline: solid 1px tomato;

  text-align: center;
}

.section .section-image {
  outline: solid 1px tomato;
  margin-top: 50px;
}

/*--------------------------- Team --------------------------*/

.team {
  background-color: var(--color-section);

  outline: solid 1px tomato;
}
.title-section {
  outline: solid 1px tomato;
}
.team-list {
  margin-top: 50px;
  outline: solid 1px tomato;
}
.team-list {
  background-color: var(--main-color);
  text-align: center;
}
.team-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.team-item {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/*----------------------------------- Footer----------------------------- */

.footer {
  padding: 60px 0;

  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: var(--bgc-second-color);
}
.header-logo.item {
  /* margin-bottom: 20px; */

  outline: solid 1px tomato;
}
.footer-logo {
  color: var(--main-color);
}
.adress-title {
  color: var(--main-color);
}

.footer-contacts .footer-item {
  color: var(--main-text-color);
}
address {
  font-style: normal;
  margin-top: 20px;

  outline: solid 1px tomato;
}
/*-------------------------- Porfolio filter button------------------------ */

.filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--secondary-text-color);
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter.button-filter {
  background-color: var(--color-section);
}

.filter:hover .filter:focus {
  color: var(--main-color);
  background-color: var(--accent-text-color);
}
/*----------------------------------- Portfolio------------------------------- */

.portfolio-list {
  border: 1px solid var(--border-main-color);
}
.portfolio-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}
.portfolio-item {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
